<ActionBar title="Contact Us" class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
</ActionBar>
<GridLayout class="m-5" rows="auto auto auto">
    <StackLayout row="0" class="p-10 border">
        <Label class="h2" text="Contact Information"></Label>
        <Label class="body" textWrap="true" text="121, Clear Water Bay Road
Clear Water Bay, Kowloon
HONG KONG
Tel: +852 1234 5678
Fax: +852 8765 4321
Email:confusion@food.net">
        </Label>

    </StackLayout>
</GridLayout>