<ActionBar title="About Us" class="action-bar">
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="sidedrawer-left">
        <StackLayout horizontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>
<ScrollView orientation="vertical" tkMainContent class="page">
    <StackLayout orientation="vertical">

        <StackLayout row="0" class="p-10 border">
            <Label class="h2" text="
Our History"></Label>
            <Label class="body" textWrap="true" text="Started in 2010, Ristorante con Fusion quickly established itself
as a culinary icon par excellence in Hong Kong. With its unique brand of world fusion cuisine that can be found
nowhere else, it enjoys patronage from the A-list clientele in Hong Kong.  Featuring four of the best three-star
Michelin chefs in the world, you never know what will arrive on your plate the next time you visit us.

The restaurant traces its humble beginnings to The Frying Pan, a successful chain started by our CEO, Mr. Peter Pan,
that featured for the first time the world's best cuisines in a pan.">
            </Label>

        </StackLayout>
            <StackLayout row="1">
                <Label class="h2 title" text="Corporate Leadership"></Label>
            </StackLayout>
            <StackLayout class="leader" *ngFor="let leader of leaders; let i = index" row="{{i + 2}}">
                <GridLayout rows="auto" columns="100,250">
                    <Image borderRadius="100" class="img-circle leaderImage" col="0" [src]="BaseURL + leader.image"></Image>
                    <StackLayout col="1">
                        <Label class="h3" [text]="leader.name"></Label>
                        <Label class="body" [text]="leader.description" textWrap="true"></Label>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        <ActivityIndicator busy="true" *ngIf="!(leaders.length || leadersErrMess)" width="50" height="50"
                           class="activity-indicator"></ActivityIndicator>
        <Label *ngIf="leadersErrMess" [text]="'Error: ' + leadersErrMess"></Label>

    </StackLayout>
</ScrollView>
</RadSideDrawer>