<ActionBar title="About Us" class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
</ActionBar>
<GridLayout class="m-5" rows="auto auto auto">
    <StackLayout row="0" class="p-10 border">
        <Label class="h2" text="
Our History"></Label>
        <Label class="body" textWrap="true" text="Started in 2010, Ristorante con Fusion quickly established itself
as a culinary icon par excellence in Hong Kong. With its unique brand of world fusion cuisine that can be found
nowhere else, it enjoys patronage from the A-list clientele in Hong Kong.  Featuring four of the best three-star
Michelin chefs in the world, you never know what will arrive on your plate the next time you visit us.

The restaurant traces its humble beginnings to The Frying Pan, a successful chain started by our CEO, Mr. Peter Pan,
that featured for the first time the world's best cuisines in a pan.">
        </Label>

    </StackLayout>
</GridLayout>