<ActionBar title="Reserve Table" class="action-bar">
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="sidedrawer-left">
        <StackLayout horizontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>
    <StackLayout  orientation="vertical" tkMainContent class="page">
        <GridLayout id="content" class="m-5" rows="auto auto auto auto" columns="*, *" [formGroup]="reservation">
            <Label class="h3 m-15" row="0" col="0" text="No. of Guests" textWrap="true"></Label>
            <TextField *ngIf="!formSubmitted" class="input input-border" id="textGuests"
                       hint="Enter Number of Guests" [text]=''
                       (textChange)="onGuestChange($event)"
                       row="0" col="1" formControlName="guests"></TextField>
            <Label *ngIf="formSubmitted" class="h3 m-15" row="0" col="1" text="{{reservation.value.guests}}"></Label>
            <Label class="h3 m-15" row="1" col="0" text="Smoking?" textWrap="true"></Label>
            <Switch *ngIf="!formSubmitted" class="m-15" row="1" col="1" checked="false"
                    (checkedChange)="onSmokingChecked($event)" formControlName="smoking"></Switch>
            <Label *ngIf="formSubmitted" class="h3 m-15" row="1" col="1" text="{{reservation.value.smoking}}"></Label>
            <Label class="h3 m-15" row="2" col="0" text="Date and Time" textWrap="true"></Label>
            <Label *ngIf="formSubmitted" class="h3 m-15" row="2" col="1" text="{{reservation.value.dateTime | date:'medium'}}"></Label>
            <TextField *ngIf="!formSubmitted" class="input input-border" id="textDateTime"
                       hint="Enter Date and Time" [text]=''
                       (textChange)="onDateTimeChange($event)"
                       row="2" col="1" formControlName="dateTime"></TextField>
            <TextField *ngIf="!formSubmitted" class="input input-border" id="textGuests"
                       hint="Enter Number of Guests" [text]=''
                       (tap) = "createModalView('guest')"
                       (textChange)="onGuestChange($event)"
                       row="0" col="1" formControlName="guests"></TextField>
            <TextField *ngIf="!formSubmitted" class="input input-border" id="textDateTime"
                       hint="Enter Date and Time" [text]=''
                       (tap)="createModalView('date-time')"
                       (textChange)="onDateTimeChange($event)"
                       row="2" col="1" formControlName="dateTime"></TextField>
            <Button *ngIf="!formSubmitted" class="btn btn-primary btn-active m-15" row="3" col="0"
                    text="Submit" (tap)="onSubmit()"></Button>
        </GridLayout>
    </StackLayout >
</RadSideDrawer>